@import "~bootstrap/dist/css/bootstrap.min.css";

.body {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 20px;
  background-color: #075e54;
}

.tittle {
  font-size: 34px;
  font-weight: bold;
  color: #fffb2af8;
  text-align: center;
  text-transform: uppercase;
  margin-top: 70px;
  margin-bottom: 40px;
}

#card-body {
  text-align: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  width: 200px;
  height: 300px;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
  margin-bottom: 80px;
}

#card-number {
  font-size: 48px;
  font-weight: bold;
  color: #000;
}

.card-suit {
  font-size: 36px;
  color: #000;
}

.card-suit text-left {
  text-align: left;
  position: absolute;
  top: 0;
  left: 0;
}

.card-suit text-right {
  text-align: end;
  position: absolute;
  top: 0;
  left: 0;
}

.new-card-boton {
  justify-content: center;
  align-items: center;
  display: flex;
}

#new-card {
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 16px;
  padding: 10px 18px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

#new-card:hover {
  background-color: #0060c7;
}

input {
  margin: 10px auto;
  padding: 5px;
  font-size: 16px;
  border: none;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  justify-content: center;
  align-items: center;
  display: flex;
}

input:focus {
  outline: none;
}
